.displayExercise{
  background-color: #ededed;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.displayExercise h3{
    margin-left: 15px;
}
.userForm{
    margin-left: 50px;
}
.userForm label{
    padding-right: 5px;
    letter-spacing: 1px;
}
.userForm input{
    margin-right: 20px;
}
button{
margin-left: 30px;
margin-top: 20px;
width: 100%;
}
